*{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}

/* styles for container */
.container{
    width: 80%;
    margin: 0 auto;
}


/* styles for main start here*/
#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0 0;
    color: #16361c;
}
#about-us{
    width: 80%;
}
.articles{
    padding: 10px;
}

#services{
    margin-top: 20px;
    padding: 10px 10%;
    text-align: justify;
    background-color: #e4eade;
}
.service-article{
    margin: 10px 0;
}
.service-heading{
    color: #16361c;
    font-weight: 600;
}
/* styles for main end here*/
#team-member{
    padding: 20px;
    background-color: #eeeeee;
}
.members{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.member-info{
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    color: #16361c;
}
.member-info h2{
    margin-bottom: 5px;
}
.member-info h6{
    margin-bottom: 10px;
}
.member-info button{
    width: 100px;
    height: 30px;
    margin: 10px 0;
    background-color: greenyellow;
    border: none;
    border-radius: 5px;
}
.member-img{
    width: 40%;
    display: flex;
    justify-content: center;
}
.member-img img{
    display: block;
    max-width: 150px;
    border-radius: 50%;
    margin-bottom:-20px;
    position: relative;

}
.group-members{
    display: flex;
    flex-direction: column;
}




@media only screen and (min-width: 768px) {

    #main{
        flex-direction: row;
        align-items: start;
        margin: 0 10%;

    }
    #about-us, #services{
        width: 50%;
    }
    #services{
        padding: 20px 10px;
        height: 70vh;
    }
    .members{
        flex-direction: row;
    }
    .member-img img{
        margin-right: -20px;
    }
   
}
@media screen and (min-width: 992px) {
    #services{
        height: 45vh;
        padding: 20px 10px;
    }
    .group-members{
        flex-direction: row;
    }
}
@media screen and (min-width: 1350px) {
    .member-img img{
        margin-right: -70px;
    }
}