/*************** Formatting starts******************/
*{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: 0 auto;
}

/*************** Formatting ends ******************/

/*************** styles for form ******************/

#form-section{
    height: 90vh;
    display: flex;
    align-items: center;
    background: url('../img/sign-up.jpg');
}

#sign-up-form{
    width: 60%;
    margin: 0 auto;
    background-color: #22400f;
    padding: 5%;
    border-radius: 5px;
    height:fit-content
}

#name-field{
    display: flex;
    flex-direction: column;
}

  
/*************** styles for input field******************/
.input-field{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*************** styles for input field lebel ******************/
.input-field label{
    color: aliceblue;
    font-weight: bold;
    padding: 10px 5px 0 0;
}
.input-field input{
    height: 35px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.input-field input:focus{
    outline: none;
}
/*************** styles for input field button ******************/
.input-field button{
    height: 35px;
    border-radius: 5px;
    margin-top: 15px;
    border: none;
    color: #22400f;
    font-weight: bold;
}


.input-field button:hover{
    cursor: pointer;
}

#sign-up-form>form>p{
    color: aliceblue;
    margin-top: 10px;
}
#sign-up-form>form>p>a{
    color: greenyellow;
}


/************* styles for notepad ******************/
@media only screen and (min-width: 768px) {
    .container{
        flex-direction: row;
        justify-content: space-between;
    }
    #nav-bar{
        padding: 0;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #logo img{
        display: block;
    }
    #nav-bar ul{
        flex-direction: row;
    }
    #nav-bar ul li{
        margin-left: 10px;
    }
    #sign-up-form{
        width: 40%;
    }
    #name-field{
        flex-direction: row;
        width: 50%;
    }
    #name-field > .input-field{
        max-width: 95%;
    }
    #name-field > .input-field:nth-child(2) {
        margin-left: 5%;
    } 
    #name-field > .input-field:nth-child(1) {
        margin-right: 5%;
    }
    #footer-info > .container{
        display: flex;
        flex-direction: row;
    }
      
}

/************* styles for desktop ******************/
@media only screen and (min-width: 1070px) {
    #name-field{
        width: 50%;
    }
    #name-field > .input-field{
        width: 95%;
    }
    #name-field > .input-field:nth-child(2) {
        margin-left: 10%;
    } 
    #name-field > .input-field:nth-child(1) {
        margin-right: 10%;
    }
}