*{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}
body{
    height: 100vh;
    background-color: #000;
    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
header{
    width: 100%;
}
.container{
    width: 80%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}
.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.container p{
    font-size: 2em;
    color: aliceblue;
}
.navbar a{
    text-decoration: none;
    color: #D7BBF5; 
    margin-top: 5px;
}
.navbar a:hover{
    color: #A076F9;
}
main{
    margin-top: 100vh;
}

@media only screen and (min-width: 768px) {
    .container{
        flex-direction: row;
        justify-content: space-between;
    }
    .navbar{
        flex-direction: row;
    }
    .navbar a{
        margin-left: 10px;
    }
}