*{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

/* styles for container */
.container{
    width: 80%;
    margin: 0 auto;
}


/* styles for header start here*/
header{
    background-color: #011a08;
}

#logo img{
    width: 110px;
    display: none;
}
#nav-bar{
    min-height: 80px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nav-bar ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    margin: auto 0;
}

.navigation li a{
    text-decoration: none;
    color: aliceblue;
    list-style-type: none;
}
.navigation a:hover{
    color: green;
}
/* styles for header end here*/

/* styles for banner start here */
#banner{
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
#banner-info{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border: 3px solid aliceblue;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4);
    backdrop-filter: blur(8px) saturate(70%);
    text-align: center;
}
#banner-info p{
    margin-top: 30px;
    color: aliceblue;
    font-size: 1.5em;
    color: greenyellow;
    
}
/* styles for banner end here */

/* styles for main section start here */
#main-section{
    margin: 8vh auto;
}
.card-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    text-align: center;
}
.card-img{
    border-radius: 20px;
}
.card-img img{
    border-radius: 20px;
}
.card-group-2{
    flex-direction: column-reverse;
}
.card-info{
    margin-top: 20px;
    color: #298142;
}
/* styles for main section end here */

/* styles for shop category section start here */
.shop-nav{
    display: flex;
    justify-content: space-between;
}
.products{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display-card{
    /* background-color: #A076F9; */
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 8px 8px 30px #298142;
    width: 80%;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display-card:hover{
    transform: scale(1.05);
}

.display-card img{
    max-width: 100%;
    border-radius: 10px;
}
.display-card p{
    margin-top: 10px;
    font-weight: 800;
    color: #572ebb;
    text-align: center;
}



.shop-nav button{
    width: 80px;
    height: 30px;
    background: linear-gradient(to left, #301969, #572ebb);
    border-radius: 5px;
    color: aliceblue;
    border: none;
    transition: 0.3s;
}

.shop-nav button a{
    color: aliceblue;
    text-decoration: none;
}
.shop-nav button:hover{
    transform: scale(1.05);
}

.shop-nav h4{
    color: #572ebb;
}

/* styles for shop category section start here */

/* styles for news-letter section start here */

.news-letter{
    margin-top: 10%;
    background-color: #011a08;
    width: 100%;
}
.newsletter-info{
    display: flex;
}

.canabis-info{
    color: aliceblue;
    padding: 20px;
}
.canabis-info h4{
    /* font-size: xx-large; */
    font-size: larger;
    margin-top: 15px;
}
.canabis-info p{
    margin-top: 10px;
    font-size: larger;
}
.canabis-info button{
    margin: 10px 0;
    width: 80px;
    height: 30px;
    background: linear-gradient(to left, #301969, #572ebb);
    border-radius: 5px;
    color: aliceblue;
    border: none;
    transition: 0.3s;
}

.news-letter button a{
    color: aliceblue;
    text-decoration: none;
}
.news-letter button:hover{
    transform: scale(1.05);
}

.canabis-img img{
    display: none;
}
/* styles for news-letter section end here */

/* styles for footer section start here */
.footer-div{
    padding-top: 10px;
    color: aliceblue;
}
.footer-div hr{
    background: linear-gradient(to left,  aliceblue, green);
    border: none;
    border-radius: 2px;
    height: 3px;
}
.footer-ul{
    margin-top: 5px;
    list-style-type: none;
    padding-left: 5px;
}
.footer-ul li a{
    text-decoration: none;
    color: green;
}
#footer-info{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4);
    backdrop-filter: blur(8px) saturate(70%);
}
.footer-ul li a:hover{
    color: #d9ccf4;
}
#footer-section{
    background-image: url('../img/footer.jpg');
    background-size: cover;
    background-position: bottom bottom;
    background-repeat: no-repeat;
}

#footer-section p{
    margin-top: 30px;
    padding-bottom: 10px;
    color: aliceblue;
    text-align: center;
    font-size: small;
}



/* styles for notepad */
@media only screen and (min-width: 768px) {
    .container{
        flex-direction: row;
        justify-content: space-between;
    }
    #nav-bar{
        padding: 0;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #logo img{
        display: block;
    }
    #nav-bar ul{
        flex-direction: row;
    }
    #nav-bar ul li{
        margin-left: 10px;
    }
    #banner p{
        font-size: 2em;
    }
    .card-info p{
        font-size: large;
        margin: auto 10%;
    }
    .first-row{
        display: flex;
        flex-direction: row;
    }
    .second-row{
        width: 50%;
    }
    #footer-info > .container{
        display: flex;
        flex-direction: row;
    }
    
}

/* styles for desktop */
@media screen and (min-width: 992px) {
    .card-group{
        flex-direction: row;
    }
    .card-info p{
        font-size: larger;
        margin: auto 10%;
    }
    .products{
        flex-direction: row;
    }
    .first-row{
        max-width: 65%;
    }
    .canabis-img img{
        display: block;
        max-width: 100%;
        margin-top: -70px;
    }
    .canabis-info h4{
        font-size: x-large;
        margin: 20px 0;
    }
    .canabis-info{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    .canabis-info button{
        margin-top: 20px;
    }
    
}